<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <script
      type="module"
      src="{{url_for('static',filename='js/main.js')}}"
      defer
    ></script>
    <title>Document</title>
  </head>
  <body>
    <main class="min-h-screen grid place-items-center">
      <h1>Handwritten digit recognition</h1>

      <canvas
        id="canvas"
        class="border-2 bg-black"
        width="250"
        height="250"
      ></canvas>

      <p>prediction: <span id="prediction"></span></p>
      <ul id="probs"></ul>

      <button type="reset" id="btn-reset">Wipe</button>
    </main>
  </body>
</html>
